@import './fonts.less';
@import '../bower_components/font-awesome/less/font-awesome';

body {
  font-family: 'Munro';
  font-size: 17px;
  padding: 0px;
  margin: 0px;
  background-color: #000;
  color: #fff;
}

#Surface {
  .emulator {
    position: absolute;
    width: 100%;
    text-align: center;

    #Game {
      display: block;
      margin: 50px auto;
    }

    #file {
      visibility:hidden
    }
  }

  .buttons {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;

    .btn {
      display: inline-block;
    }
  }

  .fps {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 15px;
  }

  .sound {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
  }
}

.btn {
  display: block;
  color:white;
  text-align:center;
  font-family: 'MunroSmall';
  font-size: 30px;
  background-color: #333;
  border: 0px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  outline: none;
  border-radius: 5px;

  &:hover {
    background-color: #2d2c2c;
  }
}
